@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101828;
  --primary: #171b82;
  --rose: #cd416e;
  --rose-light: #fff0f4;
  --success: #079455;
  --page-bg: #f9fafb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-rose: var(--rose);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-google-sans), 'Google Sans', sans-serif;
}
